/* Espaçamento padronizado entre seções */
.section-padding {
    padding-top: 60px; /* Espaço no topo */
    padding-bottom: 60px; /* Espaço na parte inferior */
  }
  
  /* Ajustes de espaçamento responsivo */
  @media (max-width: 768px) {
    .section-padding {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  
  @media (max-width: 576px) {
    .section-padding {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  