/* Estilos para a logo e animação */
.logo-wrapper {
    display: flex;
    align-items: center;
    
  }
  
  .logo-principal {
    transition: transform 0.3s ease-in-out;
  }
  
  .logo-text {
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-left: 10px; /* Ajuste o espaçamento entre o ícone e o texto */
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--primary-color);
    width: 0;
    opacity: 1;
    animation: typing 3s steps(30) 1s infinite normal both, blinkCursor 500ms steps(30) infinite;
  }
  
  /* Animação de digitação */
  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
  
  /* Animação para piscar o cursor */
  @keyframes blinkCursor {
    0% {
      border-right-color: var(--primary-color);
    }
    50% {
      border-right-color: transparent;
    }
    100% {
      border-right-color: var(--primary-color);
    }
  }
  