/* ==== SOCIAL ICONS WITHOUT BLUE BORDER ==== */
.social-icon {
    font-size: 24px;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
    margin-right: 20px; /* Aumenta o espaçamento entre os botões */
}

.social-icon:last-child {
    margin-right: 0; /* Remove o espaçamento no último botão */
}

.social-icon:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    border-color: var(--primary-color);
    transform: scale(1.1); /* Aumenta ligeiramente o ícone ao passar o mouse */
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
